xgboost
lightgbm
nilearn
category_encoders>=2.2.2
scikit-learn>=0.23.1
numpy>=1.18
scipy>=1.2
pandas>=1.1.5
matplotlib>=3.2.2
seaborn>=0.9
sphinx==2.0.1
deslib
shap>=0.34
scikit-image>=0.16
tqdm>=4.51
nevergrad==0.4.2.post5
Ipython
joblib>=0.14
python-docx
imbalanced-learn>=0.6
loky